/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para las secciones */
.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ec6020;
    border-radius: 5px;
}

/* Estilos para los títulos */
h2 {
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

h1{
    font-size: 35px;
    margin: 0;
    padding: 10xp 0;
    text-align: center;
}

.info{
    text-align: center;
    margin: 0;
    padding: 10xp;
}

.info .p{
    font-size: 18;
}

#SW {
    position: absolute;
    bottom: -523px;
    right: 250px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}


